.ms_bg_green {
    background-color: #03b495;
}


/*
[class*="col-"] {
    border: 1px solid red
}
*/

.ms_line_graph {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    height: 3px;
    width: 20%;
    background-color: white;
    border-radius: 20px;
}